## Linux
# Temporary files
*~

## macOS
# Files created by macOS Finder
.DS_Store

## Marp
# Outputs
*.html
*.pdf

## Java 
# Compiled Java class files
*.class

## Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Temporary files created by users
tmp
