## Linux
# Temporary files
*~

## macOS
# Files created by macOS Finder
.DS_Store

## Marp
# Outputs
*.html
*.pdf

# Exception: Allow exam PDFs in evaluations folder
!02-evaluations/exam-debut-semestre-2026-partie-*-enonce.pdf
!02-evaluations/exam-debut-semestre-2026-partie-*-avec-solutions.pdf

## Manim
# Animation outputs
**/animations/videos/**
**/animations/partial/**
**/animations/__pycache__/**
**/media
**/animations/texts
*.pyc
__pycache__/
.cache/

## Java 
# Compiled Java class files
*.class

## Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Temporary files created by users
tmp

# Configuration files
*.properties

