## Linux
# Temporary files
*~

## macOS
# Files created by macOS Finder
.DS_Store

## Marp
# Outputs
*.html
*.pdf

# Exception: Allow exam PDFs in evaluations folder
!02-evaluations/exam-blanc/exam-debut-semestre-2026-partie-*-enonce.pdf
!02-evaluations/exam-blanc/exam-debut-semestre-2026-partie-*-avec-solutions.pdf
!02-evaluations/correction-partie-*.pdf

## Java 
# Compiled Java class files
*.class

## Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Temporary files created by users
tmp

# Configuration files
*.properties
